// Backgrounds
$body-bg: #FAFAFA;
$navbar-bg: #F2F2F2;

// Sizing
$max-width: 975px;

// Typography
$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Buttons
$btn-primary-bg: #7E95F8;
$btn-primary-clr: #FFF;
$btn-register-bg: #FFF;
$btn-register-clr: #7E95F8;

// Border
$border-def-clr: #DDD;

// Stylizing
$link-clr: #7E95F8;
$invalid-clr: #C33;
$like-clr: #D95555;
$focus-clr: #52D9FF;